<!DOCTYPE HTML>
<html lang="zh-cn">
<head>

    <link rel="stylesheet" href="/static/css/header.css" />
    <link rel="stylesheet" href="/static/css/tab.css" />
    <link rel="stylesheet" href="/static/css/menu.css" />
    <script src="/static/js/echarts.js"></script>
    <script src="/static/js/jquery.js"></script>
    <script src="https://cdn.bootcss.com/wordcloud2.js/1.1.0/wordcloud2.js"></script>
    <link rel="stylesheet" href="/static/css/header.css" />

    
   
    
</head>

<body link="#685e48" alink="#8e804b" vlink="#314a43">
    <div class="c-magic-area c-magic-area--menu" data-target-class=".c-main-menu__link" data-tween-back="true" aria-hidden="true"></div>
 
    <header class="o-header">
        <h1 class="c-logo"><a class="c-logo__link" href="../../" target="_blank">寻章</a></h1>
        <nav class="c-main-menu" aria-labelledby="mainmenulabel">
        <h2 id="mainmenulabel" class="u-visually-hidden">Main Menu</h2>
        <ul class="c-main-menu__list">
            <li><a class="c-main-menu__link" href="../../">首页</a></li>
            <li><a aria-current="page" class="is-magic-active c-main-menu__link" href="../">诗文</a></li>
            <li><a class="c-main-menu__link" href="../../author/">诗人</a></li>
            <li><a class="c-main-menu__link" href="../../varses/page=1">名句</a></li>
            <li><a class="c-main-menu__link" href="../../AIPoetry">AI创作</a></li>
        </ul>
        
        </nav>


    </header>
    <section class="o-main-section">
    <div class="tabs">
      <input type="radio" id="radio-1" name="tabs" checked />
      <label class="tab" for="radio-1" >
          <a href="./data">数据图</a>
      </label>


      <input type="radio" id="radio-2" name="tabs" />
      <label class="tab" for="radio-2">
          <a href="./tag1">题材关系网图1</a>
      </label>

      <input type="radio" id="radio-3" name="tabs" />
      <label class="tab" for="radio-3">
          <a href="./tag2">题材关系网图2</a>
      </label>

      <input type="radio" id="radio-4" name="tabs" />
      <label class="tab" for="radio-4">
          <a href="./china">诗人籍贯图</a>
      </label>

      <input type="radio" id="radio-5" name="tabs" />
      <label class="tab" for="radio-5">
          <a href="./reli">热力图</a>
      </label>
      
      
  </div>
</section>
<br>

<!-- <embed width="100%" height="70%" src="/static/poem2_final.svg" type="image/svg+xml" /> -->
    <!-- <div id="main1" style="width:1600px;height: 600px;"></div>
    <div id="main2" style="width:1600px;height: 600px;"></div> -->
    <div id="main" style="width:1600px;height: 900px;" >
      
    </div>
    <script type="text/javascript">
            

      var ROOT_PATH = '/static/graph_tag.json';
      
      var chartDom = document.getElementById('main');
      var myChart = echarts.init(chartDom);
      var option;
      
      myChart.showLoading();
      $.getJSON(
        ROOT_PATH + '',
        function (json) {
          myChart.hideLoading();
          myChart.setOption(
            (option = {
              title: {
                text: 'NPM Dependencies'
              },
              animationDurationUpdate: 1500,
              animationEasingUpdate: 'quinticInOut',
              series: [
                {
                  type: 'graph',
                  layout: 'none',
                  // progressiveThreshold: 700,
                  data: json.nodes.map(function (node) {
                    return {
                      x: node.x,
                      y: node.y,
                      id: node.id,
                      name: node.label,
                      symbolSize: node.size,
                      itemStyle: {
                        color: node.color
                      }
                    };
                  }),
                  edges: json.edges.map(function (edge) {
                    return {
                      source: edge.sourceID,
                      target: edge.targetID
                    };
                  }),
                  emphasis: {
                    focus: 'adjacency',
                    label: {
                      position: 'right',
                      show: true
                    }
                  },
                  roam: true,
                  lineStyle: {
                    width: 0.5,
                    curveness: 0.3,
                    opacity: 0.7
                  }
                }
              ]
            }),
            true
          );
        }
      );
      
      option && myChart.setOption(option);
      
                  
              </script>
    
    
    
    
    <script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.6.0/gsap.min.js"></script>
    <script src="/static/js/varses.js"></script>
    <script src="/static/js/jquery.js"></script>
    <script src="/static/js/tab.js"></script>
    <script src="/static/js/menu.js"></script>
    
</body>


</html>