<!DOCTYPE HTML>
<html lang="zh-cn">
<head>

    <link rel="stylesheet" href="/static/css/card.css" />
    <link rel="stylesheet" href="/static/css/button.css" />
    <link rel="stylesheet" href="/static/css/header.css" />
    <link rel="stylesheet" href="/static/css/tab.css" />
    
</head>

<body link="#685e48" alink="#8e804b" vlink="#314a43">
    <div class="c-magic-area c-magic-area--menu" data-target-class=".c-main-menu__link" data-tween-back="true" aria-hidden="true"></div>
 
    <header class="o-header">
        <h1 class="c-logo"><a class="c-logo__link" href="../../" target="_blank">寻章</a></h1>
        <nav class="c-main-menu" aria-labelledby="mainmenulabel">
        <h2 id="mainmenulabel" class="u-visually-hidden">Main Menu</h2>
        <ul class="c-main-menu__list">
            <li><a class="c-main-menu__link" href="../../">首页</a></li>
            <li><a aria-current="page" class="is-magic-active c-main-menu__link" href="../">诗文</a></li>
            <li><a class="c-main-menu__link" href="../../author/">诗人</a></li>
            <li><a class="c-main-menu__link" href="../../varses/page=1">名句</a></li>
            <li><a class="c-main-menu__link" href="../../AIPoetry">AI创作</a></li>
        </ul>
        </nav>
    </header>
    <h1 style="text-align: center;">{{ type }}的诗歌</h1>
    <div class="row">
    
    <div class="col">
        <!-- <h2>Open <b>one</b></h2> -->
        <br>
        <div class="tabs">
        <div class="tab">
            <input type="radio" id="rd1" name="rd">
            <label class="tab-label" for="rd1">朝代</label>
            <div class="tab-content">
                <div style="text-align: center;">
                    
                    <a style="margin-left:16px" href="../dynasty=不限/page=1">不限</a>
                    <a style="margin-left:16px" href="../dynasty=先秦/page=1">先秦</a>
                    <a style="margin-left:16px" href="../dynasty=两汉/page=1">两汉</a>
                    <a style="margin-left:16px" href="../dynasty=魏晋/page=1">魏晋</a>
                    <a style="margin-left:16px" href="../dynasty=南北朝/page=1">南北朝</a>
                    <a style="margin-left:16px" href="../dynasty=隋代/page=1">隋代</a>
                    <a style="margin-left:16px" href="../dynasty=唐代/page=1">唐代</a>
                    <a style="margin-left:16px" href="../dynasty=五代/page=1">五代</a>
                    <a style="margin-left:16px" href="../dynasty=宋代/page=1">宋代</a>
                    <a style="margin-left:16px" href="../dynasty=金朝/page=1">金朝</a>
                    <a style="margin-left:16px" href="../dynasty=元代/page=1">元代</a>
                    <a style="margin-left:16px" href="../dynasty=明代/page=1">明代</a>
                    <a style="margin-left:16px" href="../dynasty=清代/page=1">清代</a>
                    <a style="margin-left:16px" href="../dynasty=近现代/page=1">近现代</a>
                </div>
            </div>
        </div>
        <div class="tab">
            <input type="radio" id="rd2" name="rd">
            <label class="tab-label" for="rd2">题材</label>
            <div class="tab-content">
                <div style="text-align: center;">
                {% for type in type_list %}
                    <a style="margin-left:16px" href="../type={{ type }}/page=1">{{ type }}</a>
                {% endfor %}
                </div>
            </div>
        </div>
        <div class="tab">
            <input type="radio" id="rd3" name="rd">
            <label class="tab-label" for="rd3">诗人</label>
            <div class="tab-content">
                <div style="text-align: center;">
                    
                    <a style="margin-left:16px" href="../../author/poetid=510">李白</a>
                    <a style="margin-left:16px" href="../../author/poetid=511">杜甫</a>
                    <a style="margin-left:16px" href="../../author/poetid=650">苏轼</a>
                    <a style="margin-left:16px" href="../../author/poetid=310">陶渊明</a>
                    <a style="margin-left:16px" href="../../author/poetid=31">屈原</a>
                    <a style="margin-left:16px" href="../../author/poetid=730">白居易</a>
                    <a style="margin-left:16px" href="../../author/poetid=512">王维</a>
                    <a style="margin-left:16px" href="../../author/poetid=732">李商隐</a>
                    <a style="margin-left:16px" href="../../author/poetid=1">李煜</a>
                    <a style="margin-left:16px" href="../../author/poetid=651">陆游</a>
                </div>
            </div>
        </div>
        <div class="tab">
            <input type="radio" id="rd4" name="rd">
            <label for="rd4" class="tab-close">关闭其他 &times;</label>
        </div>
        </div>
    </div>
    </div>
    <ul class="cards">
  
       
        {%  for i in range(0, length )    %}
        <li class="card">
            <h1 align="center">
                <a href="../poetryId={{ data[i][5] }}">{{ data[i][0]}}</a>
            </h1>
            
            <h2 align="center">
                <a href="../dynasty={{ dynasty_list[i] }}/page=1">{{ dynasty_list[i] }} </a>
                <span>: </span>
                <a href="../../author/poetid={{ data[i][1] }}">{{ data[i][6] }}</a>
            </h2> 
            {% for sentence in data[i][4][0:4] %}
                <p align="center" style="font-size:1.5rem;font-family: 楷体;">{{ sentence }}</p>
            {% endfor %}
            <p align="center">.......</p>
            <p align="center" style="position:relative;top:10px">
            {% for tag in tag_list[i] %}
                <a href="../type={{ tag }}/page=1">{{ tag }}</a>
                <span> </span>
            {% endfor %}
            </p>
        </li>
           
            
        {% endfor %}
        
    </ul>
    <div align="center" style="position:relative;top:100px">
        <button onclick="location.href=('./page={{ page - 1 }}')" class="bubbly-button" style="text-align: center;" >上一页</button>
        <button onclick="location.href=('./page={{ page + 1 }}')" class="bubbly-button" style="text-align: center;">下一页</button>
    
    </div>
    
    <script src="/static/js/button.js"></script>
    <script src="/static/js/jquery.js"></script>
    <script src="/static/js/card.js"></script>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.6.0/gsap.min.js"></script>
   
    <script src="/static/js/varses.js"></script>
    <script src="/static/js/yinhua.js"></script>
    
</body>


</html>