



<!DOCTYPE HTML>
<html lang="zh-cn">
    <head>
        
        <link rel="stylesheet" href="/static/css/poet.css" />
        <link rel="stylesheet" href="/static/css/button.css" />
        <link rel="stylesheet" href="/static/css/header.css" />
        <link rel="stylesheet" href="/static/css/tab.css" />
            
        
    </head>

    <body link="#685e48" alink="#8e804b" vlink="#314a43">
        <div class="c-magic-area c-magic-area--menu" data-target-class=".c-main-menu__link" data-tween-back="true" aria-hidden="true"></div>
 
        <header class="o-header">
            <h1 class="c-logo"><a class="c-logo__link" href="../../" target="_blank">寻章</a></h1>
            <nav class="c-main-menu" aria-labelledby="mainmenulabel">
            <h2 id="mainmenulabel" class="u-visually-hidden">Main Menu</h2>
            <ul class="c-main-menu__list">
                <li><a class="c-main-menu__link" href="../../">首页</a></li>
                <li><a aria-current="page" class="is-magic-active c-main-menu__link" href="../../poetry">诗文</a></li>
                <li><a class="c-main-menu__link" href="../">诗人</a></li>
                <li><a class="c-main-menu__link" href="../../varses/page=1">名句</a></li>
                <li><a class="c-main-menu__link" href="../../AIPoetry">AI创作</a></li>
            </ul>
            </nav>
        </header>

        <h1 class="main-title">{{ dynasty }}的诗人</h1>

        <div class="row">
    
            <div class="col">
                <!-- <h2>Open <b>one</b></h2> -->
                <br>
                <div class="tabs">
                <div class="tab">
                    <input type="radio" id="rd1" name="rd">
                    <label class="tab-label" for="rd1">朝代</label>
                    <div class="tab-content">
                        <div style="text-align: center;">
                            
                            <a style="margin-left:16px" href="../dynasty=不限/page=1">不限</a>
                            <a style="margin-left:16px" href="../dynasty=先秦/page=1">先秦</a>
                            <a style="margin-left:16px" href="../dynasty=两汉/page=1">两汉</a>
                            <a style="margin-left:16px" href="../dynasty=魏晋/page=1">魏晋</a>
                            <a style="margin-left:16px" href="../dynasty=南北朝/page=1">南北朝</a>
                            <a style="margin-left:16px" href="../dynasty=隋代/page=1">隋代</a>
                            <a style="margin-left:16px" href="../dynasty=唐代/page=1">唐代</a>
                            <a style="margin-left:16px" href="../dynasty=五代/page=1">五代</a>
                            <a style="margin-left:16px" href="../dynasty=宋代/page=1">宋代</a>
                            <a style="margin-left:16px" href="../dynasty=金朝/page=1">金朝</a>
                            <a style="margin-left:16px" href="../dynasty=元代/page=1">元代</a>
                            <a style="margin-left:16px" href="../dynasty=明代/page=1">明代</a>
                            <a style="margin-left:16px" href="../dynasty=清代/page=1">清代</a>
                            <a style="margin-left:16px" href="../dynasty=近现代/page=1">近现代</a>
                        </div>
                    </div>
                </div>
                
                
                <div class="tab">
                    <input type="radio" id="rd4" name="rd">
                    <label for="rd4" class="tab-close">关闭其他 &times;</label>
                </div>
                </div>
            </div>
            </div>

        <br>
        {% for i in data%}
        <div class="container">
        
        <div class="content">
            
            <a href="../poetid={{ i[3] }}" target="_blank">
            
            <div class="content-overlay"></div>
            {% if i[4]=="None" %}
            <img class="content-image" src="https://ts1.cn.mm.bing.net/th/id/R-C.612f8e384a44861bae63f4bdfdbc457b?rik=vdCtAl%2fXC%2fwkNw&riu=http%3a%2f%2fpic.616pic.com%2fys_img%2f00%2f24%2f46%2fKdUe8IKRnf.jpg&ehk=S8DG960OGYP5IK6G1pFH1qb8YcUUZ1IT%2fHOUI61gCfE%3d&risl=&pid=ImgRaw&r=0">
            {% else %}
            <img class="content-image" src={{ i[4] }}>
            {% endif %}
            <div class="content-details fadeIn-bottom">
                <h3 class="content-title">{{ i[0] }}</h3>
                <p class="content-text">{{ i[1] }}</p>
            </div>
            </a>
        </div>
        <h3 class="title">{{ i[0] }}</h3>
        <h4 class="title">{{ i[2] }}篇诗文</h3>
        </div>
        {% endfor %}


        <div align="center" style="position:relative;top:100px">
            <button onclick="location.href=('./page={{ page - 1 }}')" class="bubbly-button" style="text-align: center;" >上一页</button>
            <button onclick="location.href=('./page={{ page + 1 }}')" class="bubbly-button" style="text-align: center;">下一页</button>
        
        </div>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.6.0/gsap.min.js"></script>
        <script src="/static/js/varses.js"></script>
        <script src="/static/js/button.js"></script>
        <script src="/static/js/tab.js"></script>
    </body>
</html>