<html>
	
<header>
    <link rel="stylesheet" href="/static/css/varses.css" />
    <link rel="stylesheet" href="/static/css/button.css" />
    
</header>
<body>
    <div class="c-magic-area c-magic-area--menu" data-target-class=".c-main-menu__link" data-tween-back="true" aria-hidden="true"></div>
    <div class="c-magic-area c-magic-area--content" data-target-class=".c-article__link" data-tween-back="false" aria-hidden="true"></div>

    <main id="page" class="o-page">
    <header class="o-header">
        <h1 class="c-logo"><a class="c-logo__link" href="../" target="_blank">寻章</a></h1>
        <nav class="c-main-menu" aria-labelledby="mainmenulabel">
        <h2 id="mainmenulabel" class="u-visually-hidden">Main Menu</h2>
        <ul class="c-main-menu__list">
            <li><a class="c-main-menu__link" href="../">首页</a></li>
            <li><a aria-current="page" class="is-magic-active c-main-menu__link" href="../poetry/">诗文</a></li>
            <li><a class="c-main-menu__link" href="../author/">诗人</a></li>
            <li><a class="c-main-menu__link" href="#">名句</a></li>
            <li><a class="c-main-menu__link" href="../AIPoetry">AI创作</a></li>
        </ul>
        </nav>
        
    </header>

    <section class="o-main-section">
        <h2 class="c-main-heading">名句</h2>
        {% for varse in varses_list %}
        <article class="c-article">
        <a class="c-article__link" href="#">
            <div>
            <header>
                <h3 class="c-article__heading" style="font-size:1.5rem;font-family: 楷体;">{{ varse[0] }}</h3>
            </header>
            <div class="c-article__content">
                --{{ varse[1] }}
            </div>
            </div>
            <div class="c-article__img-wrapper">
            <img class="c-article__img" src="/static/pictures/picture{{ range(1,20)|random }}.jpg" alt="Responsive Mondrian art with CSS grid" />
            </div>
        </a>
        </article>
        {% endfor %}
    </section>
    </main>

    

 
    <div align="center" style="position:relative;top:10px">
        <button onclick="location.href=('./page={{ page - 1 }}')" class="bubbly-button" style="text-align: center;" >上一页</button>
        <button onclick="location.href=('./page={{ page + 1 }}')" class="bubbly-button" style="text-align: center;">下一页</button>
    
    </div>
    
    
    <script src="/static/js/button.js"></script>
    <script src="/static/js/jquery.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.6.0/gsap.min.js"></script>
   
    <script src="/static/js/varses.js"></script>
    <script src="/static/js/yinhua.js"></script>
    
</body>
  
  
</html>