<!DOCTYPE HTML>
<html lang="zh-cn">
<head>

    <link rel="stylesheet" href="/static/css/header.css" />
    <link rel="stylesheet" href="/static/css/tab.css" />
    <link rel="stylesheet" href="/static/css/menu.css" />
    <script src="/static/js/echarts.js"></script>
    <script src="/static/js/jquery.js"></script>
    <script src="https://cdn.bootcss.com/wordcloud2.js/1.1.0/wordcloud2.js"></script>
    <link rel="stylesheet" href="/static/css/header.css" />

    
   
    
</head>

<body link="#685e48" alink="#8e804b" vlink="#314a43">
    <div class="c-magic-area c-magic-area--menu" data-target-class=".c-main-menu__link" data-tween-back="true" aria-hidden="true"></div>
 
    <header class="o-header">
        <h1 class="c-logo"><a class="c-logo__link" href="../../" target="_blank">寻章</a></h1>
        <nav class="c-main-menu" aria-labelledby="mainmenulabel">
        <h2 id="mainmenulabel" class="u-visually-hidden">Main Menu</h2>
        <ul class="c-main-menu__list">
            <li><a class="c-main-menu__link" href="../../">首页</a></li>
            <li><a aria-current="page" class="is-magic-active c-main-menu__link" href="../">诗文</a></li>
            <li><a class="c-main-menu__link" href="../../author/">诗人</a></li>
            <li><a class="c-main-menu__link" href="../../varses/page=1">名句</a></li>
            <li><a class="c-main-menu__link" href="../../AIPoetry">AI创作</a></li>
        </ul>
        
        </nav>


    </header>
    <section class="o-main-section">
    <div class="tabs">
      <input type="radio" id="radio-1" name="tabs" checked />
      <label class="tab" for="radio-1" >
          <a href="./data">数据图</a>
      </label>


      <input type="radio" id="radio-2" name="tabs" />
      <label class="tab" for="radio-2">
          <a href="./tag1">题材关系网图1</a>
      </label>

      <input type="radio" id="radio-3" name="tabs" />
      <label class="tab" for="radio-3">
          <a href="./tag2">题材关系网图2</a>
      </label>

      <input type="radio" id="radio-4" name="tabs" />
      <label class="tab" for="radio-4">
          <a href="./china">诗人籍贯图</a>
      </label>

      <input type="radio" id="radio-5" name="tabs" />
      <label class="tab" for="radio-5">
          <a href="./reli">热力图</a>
      </label>

      
      
  </div>
</section>
<br>
    <!-- <div id="main1" style="width:1600px;height: 600px;"></div>
    <div id="main2" style="width:1600px;height: 600px;"></div> -->
    <div id="main1" style="width:1600px;height: 600px;">
        <div id="left" style="width:800px;height: 600px;float:left;"></div>
        
        <div id="right" style="width:800px;height: 600px;float:left;"></div>
        
    </div>
    <div id="main2" style="width:1600px;height: 600px;">
        <div id="left2" style="width:800px;height: 600px;float:left;"></div>
        
        <div id="right2" style="width:800px;height: 600px;float:left;"></div>
        
    </div>

    <div id="main3" style="width:1600px;height: 600px;">
        <div id="left3" style="width:800px;height: 600px;float:left;">
            <img src="/static/cloud1.png">
        </div>
            
        <div id="right3" style="width:800px;height: 600px;float:left;">
          <img src="/static/cloud2.png">
        </div>
        
    </div>
    
        <script type="text/javascript">
            var chartDom = document.getElementById('left');
            var myChart = echarts.init(chartDom);
            var option;
            const data = [];
            for (let i = 0; i <= 100; i++) {
            let theta = (i / 100) * 360;
            let r = 5 * (1 + Math.sin((theta / 180) * Math.PI));
            data.push([r, theta]);
            }
            option = {
                backgroundColor:'#031d33',
                legend: {
                      top: "20",
                      x: "center",
                      textStyle: {
                        fontSize: 16,
                        color: "rgba(101, 213, 255, 1)"
                      },
                      icon:
                        "path://M512 881.777778 512 881.777778C716.222629 881.777778 881.777778 716.222629 881.777778 512 881.777778 307.777371 716.222629 142.222222 512 142.222222 307.777373 142.222222 142.222222 307.777371 142.222222 512 142.222222 716.222629 307.777373 881.777778 512 881.777778L512 881.777778ZM512 1024 512 1024C229.230208 1024 0 794.769789 0 512 0 229.230211 229.230208 0 512 0 794.769789 0 1024 229.230211 1024 512 1024 794.769789 794.769789 1024 512 1024L512 1024Z",
                      itemWidth:8, // 设置宽度
                      itemHeight:8, // 设置高度、
                      itemGap: 12 // 设置间距
                    },
                    tooltip: {
                      show: true,
                      trigger: "axis", //axis , item
                      backgroundColor: "RGBA(0, 49, 85, 1)",
                      borderColor: "rgba(0, 151, 251, 1)",
                      borderWidth: 1,
                      borderRadius: 0,
                      textStyle: {
                        color: "#BCE9FC",
                        fontSize: 16,
                        align: "left"
                      }
                    },
                    grid: {
                      right: "5%",
                      top: "20%",
                      left: "5%",
                      bottom: "5%",
                      containLabel: true
                    },
                    xAxis: {
                      type: "category",
                      boundaryGap: true,
                      data: ['王世贞 ', '胡应麟 ', '刘克庄 ', '欧大任 ', '白居易 ', '李梦阳 ', '顾璘 ', '刘崧 ', '程敏政 ', '邓云霄 '], //'徐熥 ', '张萱 ', '徐渭 ', '袁宏道 ', '顾清 ', '释函是 ', '黎民表 ', '王夫之 ', '释函可 ', '杨士奇 ', '杜甫 ', '陆深 ', '边贡 ', '卢龙云 ', '李白'],
                      axisLabel: {
                        //坐标轴刻度标签的相关设置。
                        interval: 0, //设置为 1，表示『隔一个标签显示一个标签』
                        //	margin:15,
                        textStyle: {
                          color: "#65D5FF",
                          fontStyle: "normal",
                          fontSize: 16
                        }
                      },
                      axisTick: {
                        //坐标轴刻度相关设置。
                        show: false
                      },
                      axisLine: {
                        //坐标轴轴线相关设置
                        lineStyle: {
                          color: "rgba(77, 128, 254, 0.2)"
                        }
                      },
                      splitLine: {
                        //坐标轴在 grid 区域中的分隔线。
                        show: true,
                        lineStyle: {
                          color: "rgba(77, 128, 254, 0.2)"
                        }
                      }
                    },
                    yAxis: [
                      {
                        type: "value",
                        splitNumber: 3,
                        axisLabel: {
                          textStyle: {
                            color: "#65D5FF",
                            fontStyle: "normal",
                            fontSize: 8
                          }
                        },
                        axisLine: {
                          show: false
                        },
                        axisTick: {
                          show: false
                        },
                        splitLine: {
                          show: true,
                          lineStyle: {
                            color: "rgba(77, 128, 254, 0.2)"
                          }
                        }
                      }
                    ],
                    series: [
                        {
                      name: '高产诗人TOP10',
                      type: "pictorialBar",
                      barWidth: "60%",
                      stack: "总量",
                      label: {
                        normal: {
                          show: false
                        }
                      },
                      itemStyle: {
                        normal: {
                          color: {
                            type: "linear",
                            x: 0,
                            y: 0,
                            x2: 0,
                            y2: 1,
                            colorStops: [
                              {
                                offset: 0,
                                color: "rgba(0, 151, 251, 1)" // 0% 处的颜色
                              },
                              {
                                offset: 1,
                                color: "rgba(0, 34, 66, 0.2)" // 100% 处的颜色
                              }
                            ],
                            globalCoord: true // 缺省为 false
                          } //渐变颜色
                        }
                      },
                      symbol:
                        "path://M12.000,-0.000 C12.000,-0.000 16.074,60.121 22.731,60.121 C26.173,60.121 -3.234,60.121 0.511,60.121 C7.072,60.121 12.000,-0.000 12.000,-0.000 Z",

                      data: [4354, 3300, 2518, 2470, 2139, 1782, 1690, 1658, 1588, 1521],// 1457, 1405, 1341, 1339, 1335, 1290, 1289, 1264, 1260, 1250, 1222, 1177, 1162, 1161, 1149]//诗人诗数 poetry.num词典
                    },  {
                      name: '',
                      type: "pictorialBar",
                      barWidth: "60%",
                      stack: "总量",
                      label: {
                        normal: {
                          show: false
                        }
                      },
                      itemStyle: {
                        normal: {
                          color: {
                            type: "linear",
                            x: 0,
                            y: 0,
                            x2: 0,
                            y2: 1,
                            colorStops: [
                              {
                                offset: 0,
                                color: "rgba(48, 236, 166, 1)" // 0% 处的颜色
                              },
                              {
                                offset: 1,
                                color: "rgba(0, 34, 66, 0.2)" // 100% 处的颜色
                              }
                            ],
                            globalCoord: false // 缺省为 false
                          } //渐变颜色
                        }
                      },
                      symbol:
                        "path://M12.000,-0.000 C12.000,-0.000 16.074,60.121 22.731,60.121 C26.173,60.121 -3.234,60.121 0.511,60.121 C7.072,60.121 12.000,-0.000 12.000,-0.000 Z",

                      data: [3954, 2900, 2118, 2070, 1739, 1382, 1290, 1258, 1188, 1121],// 1057, 1005, 941, 939, 935, 890, 889, 864, 860, 850, 822, 777, 762, 761, 749]

                    }],
            };

            option && myChart.setOption(option);

        </script>

<script type="text/javascript">

    var chartDom = document.getElementById('right');
    var myChart = echarts.init(chartDom);
    var option;
const data1 = [
[

[30239, 578, 4040000000, '元','平均比率'],
[751, 65, 440000000, '两汉', '平均比率'],
[5295, 264, 1600000000, '南北朝', '平均比率'],
[41183, 2057, 8000000000, '唐', '平均比率'],
[98026, 2457, 12800000000, '宋', '平均比率'],
[114036, 2395, 1100000000, '明', '平均比率'],
[43016, 3529, 2700000000, '清', '平均比率'],
[18660, 1860, 4000000000, '魏晋', '平均比率'],
[58150, 1580, 1470000000, '金', '平均比率'],


],

];
        option = {
          backgroundColor: new echarts.graphic.RadialGradient(0.3, 0.3, 0.8, [
            {
              offset: 0,
              color: '#f7f8fa'
            },
            {
              offset: 1,
              color: '#cdd0d5'
            }
          ]),
          title: {
            text: '各朝代诗人数目与诗词总量',
            left: '5%',
            top: '3%'
          },
          legend: {
            right: '10%',
            top: '3%',
            data: ['平均比率']
          },
          grid: {
            left: '8%',
            top: '10%'
          },
          xAxis: {
            splitLine: {
              lineStyle: {
                type: 'dashed'
              }
            }
          },
          yAxis: {
            splitLine: {
              lineStyle: {
                type: 'dashed'
              }
            },
            scale: true
          },
          series: [
            {
              name: '平均比率',
              data: data1[0],
              type: 'scatter',
              symbolSize: function (data) {
                return Math.sqrt(data[2]) / 7e2;
              },
              emphasis: {
                focus: 'series',
                label: {
                  show: true,
                  formatter: function (param) {
                    return param.data[3];
                  },
                  position: 'top'
                }
              },
              itemStyle: {
                shadowBlur: 10,
                shadowColor: 'rgba(120, 36, 50, 0.5)',
                shadowOffsetY: 5,
                color: new echarts.graphic.RadialGradient(0.4, 0.3, 1, [
                  {
                    offset: 0,
                    color: 'rgb(251, 118, 123)'
                  },
                  {
                    offset: 1,
                    color: 'rgb(204, 46, 72)'
                  }
                ])
              }
            },

          ]
        };

    option && myChart.setOption(option);

</script>

<script type="text/javascript">
    var  option = {
        backgroundColor: new echarts.graphic.RadialGradient(0.3, 0.3, 0.8, [
            {
              offset: 0,
              color: '#f7f8fa'
            },
            {
              offset: 1,
              color: '#cdd0d5'
            }
          ]),
            tooltip: {
                trigger: 'axis'
            },
            //legend: {
            //    data:['销量','所占比率']
            //},
            xAxis: [
                {
                    type: 'category',
                    data: ['两汉','五代','魏晋','南北朝','唐代','宋代','金朝','元代','明代','清代']
                }
            ],
            yAxis: [
                {
                    type: 'value',
                    name: '诗词数量',
                    position: 'left',
                    alignTicks: true,
                    axisLine: {
                    show: true,
                    },
                    min: 0,
                    max: 100000,
                    interval: 10000,
                    axisLabel: {
                        formatter: '{value} '
                    }
                },
                {
                  type: 'value',
                  name: '诗人数量',
                  position: 'right',
                  alignTicks: true,

                  axisLine: {
                    show: true,
                  },
                    min: 0,
                    max: 3540,
                    interval: 500,
                  axisLabel: {
                    formatter: '{value}'
                  }
                },
            ],

            series: [

                {
                    name:'诗词总量',
                    type:'bar',

                    /*设置柱状图颜色*/
                    itemStyle: {
                        
                        color: function(params) {
                            // build a color map as your need.
                            var colorList = [
                                '#40E0D0','#FFFF00','	#FF0000','#00FFFF','#800000',
                                '#E15328','#2691E4','#2FAB3C','#4E37E1','#D716E5',
                            ];
                            return colorList[params.dataIndex]
                        },
                        /*信息显示方式*/
                        label: {
                            show: true,
                            position: 'top',
                            formatter: '{b}\n{c}'
                        }
                    },
                    data:[1751,1866,1866,5295,41183,98026,5815,30239,94036,43016]
                },
                {
                    name:'诗人数量',
                    type:'line',
                    yAxisIndex: 1,
                    itemStyle : {  /*设置折线颜色*/
                        normal : {
                           color:'#220406'
                        }
                    },
                    data:[309,365,386,264,2057,2457,358,578,2395,3529]
                }
            ]
    };
    // 基于准备好的dom，初始化echarts实例
    var myChart = echarts.init(document.getElementById('left2'));
    // 使用刚指定的配置项和数据显示图表。
    myChart.setOption(option);
</script>

<script type="text/javascript">
    //var myChart = echarts.init(document.getElementById('main'));

    var chartDom = document.getElementById('right2');
    var myChart = echarts.init(chartDom);
    var option;
    const data2 = [];
    for (let i = 0; i <= 100; i++) {
    let theta = (i / 100) * 360;
    let r = 5 * (1 + Math.sin((theta / 180) * Math.PI));
    data2.push([r, theta]);
    }
        option = {
          backgroundColor: '#2c343c',
          title: {
            text: '流行词牌TOP10',
            left: 'center',
            top: 20,
            textStyle: {
              color: '#ccc'
            }
          },
          tooltip: {
            trigger: 'item'
          },
          visualMap: {
            show: false,
            min: 800,//要随词牌出现个数（data-value）改变（即成比例），目测50%-200%颜色比较好看
            max: 3600,
            inRange: {
              colorLightness: [0, 1]
            }
          },
          series: [
            {
              name: 'Access From',
              type: 'pie',
              radius: '55%',
              center: ['50%', '50%'],
              data: [
                { value: 2150 ,name:' 临江仙 '} ,
                { value: 1436 ,name:' 杂咏一百首 '} ,
                { value: 1202 ,name:' 水调歌头 '} ,
                { value: 2179 ,name:' 浣溪沙 '} ,
                { value: 770 ,name:' 满江红 '} ,
                { value: 1126 ,name:' 点绛唇 '} ,
                { value: 2167 ,name:' 菩萨蛮 '} ,
                { value: 2343,name:' 蝶恋花 '} ,
                { value: 1300 ,name:' 西江月 '} ,
                { value: 1641 ,name:' 鹧鸪天 '}
              ].sort(function (a, b) {
                return a.value - b.value;
              }),
              roseType: 'radius',
              label: {
                color: 'rgba(255, 255, 255, 0.3)'
              },
              labelLine: {
                lineStyle: {
                  color: 'rgba(255, 255, 255, 0.3)'
                },
                smooth: 0.2,
                length: 10,
                length2: 20
              },
              itemStyle: {
                color: '#c23531',
                shadowBlur: 200,
                shadowColor: 'rgba(0, 0, 0, 0.5)'
              },
              animationType: 'scale',
              animationEasing: 'elasticOut',
              animationDelay: function (idx) {
                return Math.random() * 200;
              }
            }
          ]
        };
    option && myChart.setOption(option);

</script>


<!-- <script>
    var options = eval({
        
        "list":[['王世贞', 4353], ['胡应麟', 3300], ['刘克庄', 2518], ['欧大任', 2470], ['白居易', 2139], ['李梦阳', 1782], ['顾璘', 1690], ['刘崧', 1658], ['程敏政', 1588], ['邓云霄', 1521], ['徐熥', 1457], ['张萱', 1405], ['徐渭', 1341], ['袁宏道', 1339], ['顾清', 1335], ['释函是', 1290], ['黎民表', 1289], ['王夫 之', 1264], ['释函可', 1260], ['杨士奇', 1250], ['杜甫', 1222], ['陆深', 1177], ['边贡', 1162], ['卢龙云', 1161], ['郭之奇', 1149], ['李之世', 1087], ['郑孝胥', 1084], ['释居简', 1070], ['李白', 1026], ['皇甫汸', 1014], ['刘攽', 1010], ['区大相', 983], ['杨慎', 972], ['李纲', 971], ['刘基', 967], ['梅尧臣', 943], ['张宁', 898], ['吴与弼', 896], ['周紫芝', 895], ['屈大均', 894], ['林光', 890], ['杨万里', 880], ['陈维崧', 865], ['丘逢甲', 849], ['邹浩', 840], ['陈著', 838], ['韩维', 838], ['王恭', 831], ['楼钥', 823], ['苏轼', 817]],
        
        "gridSize": 16, // size of the grid in pixels
        "weightFactor": 1, // number to multiply for size of each word in the list
        "fontWeight": 'normal', // 'normal', 'bold' or a callback
        "fontFamily": 'Times, serif', // font to use
        "color": 'random-light', // 'random-dark' or 'random-light'
        "backgroundColor": '#fffff0', // the color of canvas
        "rotateRatio": 1 // probability for the word to rotate. 1 means always rotate
    });
    var canvas = document.getElementById('left3');
    WordCloud(canvas, options);
</script> -->
    <script src="/static/js/jquery.js"></script>
   

    <script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.6.0/gsap.min.js"></script>
   
    <script src="/static/js/varses.js"></script>
    <script src="/static/js/tab.js"></script>
    <script src="/static/js/menu.js"></script>
    
</body>


</html>